main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options button{
    padding: 8px;
    border-radius: 16px;
    color: aliceblue;
    font-size: 20px;
}

#sim{
    background-color: green;
}

#nao{
    background-color: red;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}